body, html
{
    background-image: url('./images/grasslands.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.title
{
    font-family: verdana;
    font-size: 8vh;
    color: orange;
    text-shadow: -2px -2px red;
    text-align: center;
}

.home
{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.home-button
{
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1vw orange;
    border-radius: 50%;
    background-color:  red;
    color:  orange;
    font-family: verdana;
    font-size: 2vw;
    height: 10vw;
    width: 10vw;
    margin: 5vw;
    cursor: pointer;
}
.home-button:hover
{
    border-color: red;
    background-color: orange;
    color: red;
}

.home-image
{
    height: 10vw;
    width: 10vw; 
}

.home-name
{
    display: flex;
    justify-content: center;
    border: solid 1vw black;
    border-radius: 1vw;
    background-color: white;
    font-family: verdana;
    font-size: 3vh;
    width: 50vw;
    padding: 2vw;
    margin: 2vw;
}

.home-name-box
{
    display: flex;
    justify-content: center;
}

.pet
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pet-speech
{
    border: solid 2px black;
    height: 10vh;
    width: 60vw
}

.pet-box
{
    display: flex;
    flex-direction: row;
}

.pet-image
{
    border: solid 2px black;
    height: 50vh;
    width: 10vw
}

.pet-name
{
	background-color: transparent;
	border: none;
	font-family: verdana;
	font-size: 3vh;
	color: lightgreen;
	text-shadow: -2px -2px green;
}

.pet-status
{
    border: solid 2px black;
    height: 35vh;
    width: 50vw
}

.pet-actions
{
    border: solid 2px black;
    height: 10vh;
    width: 50vw
}

.pet-button
{
    border: solid 0.3vw orange;
    border-radius: 1vw;
    background-color: red;
    color: orange;
    font-family: verdana;
    font-size: 2vw;
    width: 20vw;
    cursor: pointer;
}
.pet-button:hover
{
    border-color: red;
    background-color: orange;
    color: red;
}